/* Container, der die gesamte Seite abdeckt */
.page-container {
    display: flex;
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    min-height: 60%; /* Min. Höhe der Seite auf 100% der Viewport-Höhe */
    max-width: 100%;
    background: url('../assets/shopping.jpg') no-repeat center center; /* Hintergrundbild */
    background-size: contain; /* Bild deckt den gesamten Bereich ab */
    padding: 120px; /* Etwas Abstand von den Rändern der Seite */
}

/* Styling des Formular-Containers */
.form-container {
    background-color: white; /* Weißer Hintergrund mit leichtem Transparent-Effekt */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Schatten für einen 3D-Effekt */
    width: 200%;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 500px; /* Maximale Breite des Formulars */
    box-sizing: border-box;
}

/* Styling für Formular-Titel */
h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: orangered;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 1px;
}

/* Styling für Formulareingaben */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

/* Styling für das Bild-URL Eingabefeld */
input[type="text"][name="image"] {
    height: 40px;
    background-color: #f9f9f9;
}

/* Styling für den Absende-Button */
button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: mediumseagreen; /* Grüner Hintergrund */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

/* Hover-Effekt für den Absende-Button */
button[type="submit"]:hover {
    background-color: darkgreen; /* Etwas dunklerer Grünton */
}

/* Styling für die Eingabefelder, wenn sie im Fokus sind */
input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Hinzufügen eines kleinen Abstands zwischen den Eingabefeldern */
input[type="text"]:not(:last-child),
input[type="number"]:not(:last-child),
textarea:not(:last-child) {
    margin-bottom: 15px;
}
