
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60%;
    max-width: 100%;
    background: url('../assets/shopping.jpg') no-repeat center center;
    background-size: contain;
    padding: 120px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    width: 200%;
    margin-left: 120px;
    margin-right: 120px;
    max-width: 500px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: orangered;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 1px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

input[type="text"][name="image"] {
    height: 40px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="text"]:not(:last-child),
input[type="number"]:not(:last-child),
textarea:not(:last-child) {
    margin-bottom: 15px;
}
