
.listpage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: url('../assets/hintergrund2.avif') no-repeat center center;
    background-size: contain;
    padding: 10px;
    border-radius: 50px;
}

.listform-container {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-top: 20px;
}

.list {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    color: lightseagreen;
    padding: 20px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid green;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: whitesmoke;
}

input[type="text"][name="image"] {
    height: 40px;
    background-color: #f9f9f9;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: darkturquoise;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    outline: none;
}

input[type="text"]:not(:last-child),
input[type="number"]:not(:last-child),
textarea:not(:last-child) {
    margin-bottom: 15px;
}
